<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
    #friendsVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.content {
  position: fixed;
  bottom: 0;
  background: rgba(162, 63, 243, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
}

/* Style the button used to pause/play the video */
.myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #5a08a7;
  color: #fff;
  cursor: pointer;
}

.myBtn:hover {
  background: #ddd;
  color: black;
}
/* Add some content at the bottom of the video/page */

    </style>
  </head>
  <body onload="showMyFace()">
      <div class="loading-div" style="text-align:center;">
          <div class="loader" style="display:none;z-index:-1">Loading...</div>
					<p class="loader-text" style="color:black;z-index:4">Press start when you're ready!</p>
				</div>
      <input type="hidden" id="appointmentId" value="<%=appointmentId%>">
    <!-- The video -->
    <video style="display:none;z-index:5" id="yourVideo" autoplay playsinline></video>
<video autoplay muted loop id="friendsVideo">
</video>
      
      <!-- Optional: some overlay text to describe the video -->
      <div class="content">
        <button class="myBtn" onclick="showFriendsFace()">Start Call</button>
        <button class="myBtn" onclick="showFriendsFace()">End Call</button>
      </div>
   
    
    
    
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    
    <script src="js/client.js"></script>
  </body>
</html>
